.DS_Store
.env
.venv/
__pycache__/
*.pyc

frontend/node_modules/
frontend/dist/
*.tsbuildinfo

build/
cpp_gateway/build/

logs/
data/uploads/
data/indexes/
cpp_gateway/uploads/

redisErr
redisOk
upload
